# <font color = "red">[READ THIS] Before you start</font>
Welcome to UpLevel DIY projects! In this series, you're challenged to independently work (with our guidance) with data that you will collect to UpLevel yourself. 

We hope you're excited to embark on this adventure.
### Warning:
This isn't just any coding course or programmes, where you receive helper code as you move from one code block to another. 

This is when things get <em>real</em>.

In this project, you will receive instructions to execute a task along with an intended outcome. Most importantly, we will provide you with directions you can go to, to pick up code independently and implement it in this notebook.

Don't worry though, we'll be dropping lots of resources you can consult and these readings will contain everything you need to succeed. You can also perform independent research to find answers independently. You just have to read closely and pick out the parts that make most sense. 

<strong>We make you do this not because we're lazy bastards but because being able to indepedently find code is a highly underrated skill and that's something all companies look out for.</strong>

If you're really stuck and are on the verge of giving up, we gotchu fam. Head on over to https://www.facebook.com/UpLevelSG/ and post your questions there. 

### What we'll be doing:
In this project, we will do the following:

1. Acquire data on mental health of foreign students in Japan (Part I)
2. Perform exploratory data analysis and test a few hypotheses (Part II)
3. Transform the data for machine learning  (Part III)
4. Train a machine learning model based on several hypotheses (Part IV)

### Expectations:
We're not going to sugarcoat it - it'll be challenging at times. You have to promise to put in the time and effort to UpLevel yourself. 

But we promise you that it'll ultimately be fun and rewarding, and you'll come out of it stronger and more confident than before.

<div style="background-color: #78E8A3; padding: 20px">
<h3>Project Scenario</h3>
<p>You work in a university's health and wellness center.</p>
<p>Mental health is an area that is severely neglected, and can have very serious ramifications such as student self-harm and depression.</p> 
<p>You are determined to identify students at risk using data so you can help them as early as possible.</p>
<p>In this project, you will explore a dataset obtained from foreign students studying in a Japanese university.</p> 
</div>

### Step 1: Download the dataset and read the research publication
The dataset we are working with comes from the research of Nguyen et al (2019), where the authors obtained a record of 268 questionaire results of depression, acculturative stress, social connectedness, and help-seeking behaviour by a cohort of local and international students.

More details <a href = 'https://www.mdpi.com/2306-5729/4/3/124/htm'>here</a>.

Download the data <a href = 'https://www.mdpi.com/2306-5729/4/3/124/s1'>here</a> and unzip the file in your project folder.

We highly recommend reading Tables 1 and 2 in the publication to understand what the headers in your dataset mean, and we will refer to it from time to time.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Step 2: Import pandas
Let's import pandas to read the data unzipped from the file you downloaded.

In [5]:
# Step 2: Import pandas
import pandas as pd

### Step 3: Read CSV as DataFrame
Now that you've import the library, go ahead and read the CSV as a DataFrame

Make sure you have your variable alone in the last line of your code cell so you can preview your DataFrame.

In [11]:
# Step 3: Read CSVS as DataFrame
df = pd.read_csv('/content/drive/MyDrive/Project University Health /data.csv', header=0, sep = ',' )

In [12]:
df.head()

  inter_dom Region  Gender Academic  ...  religion_bi  Alone_bi  Others_bi Internet_bi
0     Inter    SEA    Male     Grad  ...           No        No         No          No
1     Inter    SEA    Male     Grad  ...           No        No         No          No
2     Inter    SEA    Male     Grad  ...           No        No         No          No
3     Inter     EA  Female     Grad  ...           No        No         No          No
4     Inter     EA  Female     Grad  ...          Yes        No         No          No

[5 rows x 50 columns]

In [50]:
df.describe()

              Age    Age_cate        Stay  ...       Alone      Others    Internet
count  268.000000  268.000000  268.000000  ...  268.000000  268.000000  242.000000
mean    20.873134    2.559701    2.149254  ...    2.940299    2.141791    3.020661
std      2.765279    1.070624    1.326805  ...    2.030705    1.504814    1.719906
min     17.000000    1.000000    1.000000  ...    1.000000    1.000000    1.000000
25%     19.000000    2.000000    1.000000  ...    1.000000    1.000000    1.000000
50%     20.000000    2.000000    2.000000  ...    2.000000    1.000000    3.000000
75%     22.000000    3.000000    3.000000  ...    4.000000    3.000000    4.000000
max     31.000000    5.000000   10.000000  ...    7.000000    7.000000    7.000000

[8 rows x 26 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 50 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   inter_dom        268 non-null    object
 1   Region           268 non-null    object
 2   Gender           268 non-null    object
 3   Academic         268 non-null    object
 4   Age              268 non-null    float64
 5   Age_cate         268 non-null    float64
 6   Stay             268 non-null    float64
 7   Stay_Cate        268 non-null    object
 8   Japanese         268 non-null    float64
 9   Japanese_cate    268 non-null    object
 10  English          268 non-null    float64
 11  English_cate     268 non-null    object
 12  Intimate         260 non-null    object
 13  Religion         268 non-null    object
 14  Suicide          268 non-null    object
 15  Dep              270 non-null    object
 16  DepType          271 non-null    object
 17  ToDep            268 non-null    float64
 18  DepSev           273 non-null    object
 19  ToSC             268 non-null    float64
 20  APD              268 non-null    float64
 21  AHome            268 non-null    float64
 22  APH              268 non-null    float64
 23  Afear            268 non-null    float64
 24  ACS              268 non-null    float64
 25  AGuilt           268 non-null    float64
 26  AMiscell         268 non-null    float64
 27  ToAS             268 non-null    float64
 28  Partner          268 non-null    float64
 29  Friends          268 non-null    float64
 30  Parents          268 non-null    float64
 31  Relative         268 non-null    float64
 32  Profess          268 non-null    float64
 33   Phone           268 non-null    float64
 34  Doctor           268 non-null    float64
 35  Reli             268 non-null    float64
 36  Alone            268 non-null    float64
 37  Others           268 non-null    float64
 38  Internet         242 non-null    float64
 39  Partner_bi       283 non-null    object
 40  Friends_bi       283 non-null    object
 41  Parents_bi       272 non-null    object
 42  Relative_bi      272 non-null    object
 43  Professional_bi  272 non-null    object
 44  Phone_bi         272 non-null    object
 45  Doctor_bi        272 non-null    object
 46  religion_bi      272 non-null    object
 47  Alone_bi         272 non-null    object
 48  Others_bi        272 non-null    object
 49  Internet_bi      272 non-null    object
dtypes: float64(26), object(24)
memory usage: 111.8+ KB

In [21]:
# Step 4: Use .tail to see what's up with the last 20 rows
df.tail(20)

    inter_dom Region Gender Academic  ...  religion_bi  Alone_bi  Others_bi Internet_bi
266       Dom    JAP   Male    Under  ...           No        No         No          No
267       Dom    JAP   Male    Under  ...           No       Yes         No          No
268       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
269       NaN    NaN    NaN      NaN  ...           19        65         21          45
270       NaN    NaN    NaN      NaN  ...          249       203        247         223
271       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
272       NaN    NaN    NaN      NaN  ...           19        65         21          45
273       NaN    NaN    NaN      NaN  ...          249       203        247         223
274       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
275       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
276       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
277       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
278       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
279       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
280       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
281       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
282       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
283       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
284       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN
285       NaN    NaN    NaN      NaN  ...          NaN       NaN        NaN         NaN

[20 rows x 50 columns]

### Step 5: Remove the weird rows
When you check the data out - in Step 5 - you will see that there are random values at the bottom of the file that led to the many NaNs that you see at the bottom row.

Remove the last 18 rows, making sure that your resultant DataFrame has only <strong>268 rows x 50 columns</strong>.

There are many ways to do it, and here are some suggestions:
1. Slice the DataFrame (be careful about selecting the right index)
2. Drop NaN, using inter_dom as your subset reference column
3. Opening your CSV in Excel and deleting those values directly (make sure you redo Step 4 before going to Step 7)

In [57]:
# Step 5: Remove the last 18 rows
df2 = df.copy()
clean_df = df2.iloc[:-18,] # use iloc for location based subsetting, not index(extreme left column)

### Step 6: Find the total number of missing values in each column
Now that we've a cleaner DataFrame, let's sum up the null values in each column. 

This is so that we can assess whether we need to clean the DataFrame some more.

<strong>Hint: Google "count missing values in each column pandas"</strong>

In [46]:
# Step 6: Count total of missing values in the DataFrame
clean_df.isna().sum()

inter_dom           0
Region              0
Gender              0
Academic            0
Age                 0
Age_cate            0
Stay                0
Stay_Cate           0
Japanese            0
Japanese_cate       0
English             0
English_cate        0
Intimate            8
Religion            0
Suicide             0
Dep                 0
DepType             0
ToDep               0
DepSev              0
ToSC                0
APD                 0
AHome               0
APH                 0
Afear               0
ACS                 0
AGuilt              0
AMiscell            0
ToAS                0
Partner             0
Friends             0
Parents             0
Relative            0
Profess             0
 Phone              0
Doctor              0
Reli                0
Alone               0
Others              0
Internet           26
Partner_bi          0
Friends_bi          0
Parents_bi          0
Relative_bi         0
Professional_bi     0
Phone_bi            0
Doctor_bi           0
religion_bi         0
Alone_bi            0
Others_bi           0
Internet_bi         0
dtype: int64

### Step 7: Replace the missing values with median
Seems like only one column has missing values. It's not a lot, i.e. around 10% of the total number of rows, so you can just go ahead and replace the NaN with the median. 

Replace the missing values in 'Internet' column with the median of the column.

<strong>Hint: Google "replace nan with median pandas column"</strong>

In [56]:
clean_df['Internet'].describe()

count    242.000000
mean       3.020661
std        1.719906
min        1.000000
25%        1.000000
50%        3.000000
75%        4.000000
max        7.000000
Name: Internet, dtype: float64

In [59]:
median = clean_df['Internet'].median()

In [60]:
# Step 7: Replace missing values in 'Internet' with median 
clean_df['Internet']= clean_df['Internet'].fillna(median)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Step 8: Check missing values again
Just repeat Step 7 to see if your replacement worked.

In [61]:
# Step 8: Check missing values in DataFrame
clean_df.isna().sum()

inter_dom          0
Region             0
Gender             0
Academic           0
Age                0
Age_cate           0
Stay               0
Stay_Cate          0
Japanese           0
Japanese_cate      0
English            0
English_cate       0
Intimate           8
Religion           0
Suicide            0
Dep                0
DepType            0
ToDep              0
DepSev             0
ToSC               0
APD                0
AHome              0
APH                0
Afear              0
ACS                0
AGuilt             0
AMiscell           0
ToAS               0
Partner            0
Friends            0
Parents            0
Relative           0
Profess            0
 Phone             0
Doctor             0
Reli               0
Alone              0
Others             0
Internet           0
Partner_bi         0
Friends_bi         0
Parents_bi         0
Relative_bi        0
Professional_bi    0
Phone_bi           0
Doctor_bi          0
religion_bi        0
Alone_bi           0
Others_bi          0
Internet_bi        0
dtype: int64

In [64]:
pwd

'/content'

### Step 9: Export cleaned DataFrame as CSV
Now that you've done some cleaning up and filled in missing values, it's time to export the DataFrame as a CSV.

In [66]:
# Step 9: Export DataFrame as CSV
clean_df.to_csv('/content/drive/MyDrive/Project University Health /clean_data.csv')

### End of Part I
We've now come to the end of the first Part of the project. In this part you retrieve the data for this project, and then cleaned it up by removing unnecessary rows of data and filled in missing data. 

In the next Part, we will perform some exploratory data analysis and test several hypotheses.